USE [QUANLYDULICH]
GO
/****** Object:  Table [dbo].[CHITIETLICHTRINH]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETLICHTRINH](
	[MACHITIETLICHTRINH] [int] IDENTITY(1,1) NOT NULL,
	[MADOITAC] [int] NULL,
	[MALICHTRINH] [int] NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[THOIGIAN] [varchar](5) NULL,
 CONSTRAINT [PK_CHITIETLICHTRINH] PRIMARY KEY NONCLUSTERED 
(
	[MACHITIETLICHTRINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DIEMDULICH]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDULICH](
	[MADIEMDULICH] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[TENDIEMDULICH] [nvarchar](1000) NULL,
	[MOTA] [nvarchar](1000) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DIEMDULICH] PRIMARY KEY NONCLUSTERED 
(
	[MADIEMDULICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOITAC]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOITAC](
	[MADOITAC] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[TENDOITAC] [nvarchar](1000) NULL,
	[NGUOILIENHE] [nvarchar](1000) NULL,
	[DIENTHOAI] [varchar](14) NULL,
	[DANHGIADOITAC] [nvarchar](1000) NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[EMAIL] [varchar](100) NULL,
	[LOAIDOITAC] [varchar](20) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_DOITAC] PRIMARY KEY NONCLUSTERED 
(
	[MADOITAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](1000) NULL,
	[NGUOIDAIDIEN] [nvarchar](1000) NULL,
	[GIOITINH] [varchar](5) NULL,
	[EMAIL] [varchar](100) NULL,
	[DIENTHOAI] [varchar](14) NULL,
	[SONGUOI] [int] NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[LOAIKHACHHANG] [varchar](10) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICHTRINH]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTRINH](
	[MALICHTRINH] [int] IDENTITY(1,1) NOT NULL,
	[MATOUR] [int] NULL,
	[TENLICHTRINH] [nvarchar](1000) NULL,
	[NGAY] [int] NULL,
 CONSTRAINT [PK_LICHTRINH] PRIMARY KEY NONCLUSTERED 
(
	[MALICHTRINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [varchar](5) NULL,
	[HOTEN] [nvarchar](1000) NULL,
	[CMND] [varchar](14) NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[NGAYSINH] [datetime] NULL,
	[QUEQUAN] [nvarchar](1000) NULL,
	[SODT] [varchar](14) NULL,
	[EMAIL] [varchar](50) NULL,
	[GIOITINH] [varchar](5) NULL,
	[MATKHAU] [char](25) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONG] [varchar](5) NOT NULL,
	[TENPHONG] [nvarchar](1000) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY NONCLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 1/17/2016 12:00:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOUR](
	[MATOUR] [int] IDENTITY(1,1) NOT NULL,
	[HUONGDANVIEN] [int] NULL,
	[MAKHACHHANG] [int] NOT NULL,
	[NHAXE] [int] NULL,
	[MANHANVIEN] [int] NULL,
	[TENTOUR] [nvarchar](1000) NULL,
	[THOIGIAN] [nvarchar](1000) NULL,
	[NGAYDI] [datetime] NULL,
	[TONGGIATOUR] [int] NULL,
	[TRANGTHAI] [varchar](10) NULL,
	[UUDAI] [nvarchar](1000) NULL,
	[GHICHU] [nvarchar](1000) NULL,
	[NgayLapTour] [datetime] NULL,
 CONSTRAINT [PK_TOUR] PRIMARY KEY NONCLUSTERED 
(
	[MATOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIETLICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETL_FK_CTLT_D_DOITAC] FOREIGN KEY([MADOITAC])
REFERENCES [dbo].[DOITAC] ([MADOITAC])
GO
ALTER TABLE [dbo].[CHITIETLICHTRINH] CHECK CONSTRAINT [FK_CHITIETL_FK_CTLT_D_DOITAC]
GO
ALTER TABLE [dbo].[CHITIETLICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETL_FK_LT_CTL_LICHTRIN] FOREIGN KEY([MALICHTRINH])
REFERENCES [dbo].[LICHTRINH] ([MALICHTRINH])
GO
ALTER TABLE [dbo].[CHITIETLICHTRINH] CHECK CONSTRAINT [FK_CHITIETL_FK_LT_CTL_LICHTRIN]
GO
ALTER TABLE [dbo].[DIEMDULICH]  WITH CHECK ADD  CONSTRAINT [FK_DIEMDULI_FK_NV_DDL_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DIEMDULICH] CHECK CONSTRAINT [FK_DIEMDULI_FK_NV_DDL_NHANVIEN]
GO
ALTER TABLE [dbo].[DOITAC]  WITH CHECK ADD  CONSTRAINT [FK_DOITAC_FK_NV_DT_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DOITAC] CHECK CONSTRAINT [FK_DOITAC_FK_NV_DT_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LICHTRIN_FK_T_LT_TOUR] FOREIGN KEY([MATOUR])
REFERENCES [dbo].[TOUR] ([MATOUR])
GO
ALTER TABLE [dbo].[LICHTRINH] CHECK CONSTRAINT [FK_LICHTRIN_FK_T_LT_TOUR]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_FK_MP_NV_PHONGBAN] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_FK_MP_NV_PHONGBAN]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_FK_NV_T_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_FK_NV_T_NHANVIEN]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_FK_T_KH_KHACHHAN] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_FK_T_KH_KHACHHAN]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_HUONGDANV_DOITAC] FOREIGN KEY([HUONGDANVIEN])
REFERENCES [dbo].[DOITAC] ([MADOITAC])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_HUONGDANV_DOITAC]
GO
ALTER TABLE [dbo].[TOUR]  WITH CHECK ADD  CONSTRAINT [FK_TOUR_NHAXE_DOITAC] FOREIGN KEY([NHAXE])
REFERENCES [dbo].[DOITAC] ([MADOITAC])
GO
ALTER TABLE [dbo].[TOUR] CHECK CONSTRAINT [FK_TOUR_NHAXE_DOITAC]
GO
